<div class="user-modal" (clickOutside)="clickOutside.emit()">
    <div class="user-modal--info">
        <img src="assets/images/vinicius-martins.jpg">
        <div class="user-modal--info--name-and-level">
            <label>Vinícius Martins</label>
            <label>Nível Roxo</label>
        </div>
    </div>

    <div class="user-modal--actions">
        <div class="user-modal--actions--options">
            <a class="user-modal--actions--options--btn">
                <img src="assets/images/body-icon.svg">
                MEU CORPO
            </a>

            <a class="user-modal--actions--options--btn">
                <img src="assets/images/trophy.svg">
                OBJETIVOS E CONQUISTAS
            </a>
        </div>
    </div>
</div>
